.info {
    .label{
        
        font-size: 1.8rem;
        margin-top: 2.80rem;
        margin-bottom: 1rem;
    }
    .tools{
        & > div {
            margin-top: 1rem;
            //text-align: left;
            margin-bottom: 1rem;
            a {
                text-decoration: none;
                font-size: 1.6rem;
            }
        }
        display: inline-block;
        width: 45%;
    }
}
