.resources{
    margin-top: 3rem;
    div {
        margin-bottom: 1rem;
    
        a {
            //display: inline-block;
            text-decoration: none;
            font-size: 1.6rem;
        }
    }
}
