body{
    //background-image: url('back1.jpg');
    background-image: url('back2.jpg');
    .content{
        padding-top: 3rem;
        text-align: center;
        @import "partials/list-maker";
        @import "partials/resources";
        @import "partials/info";
    }
}

